.contact-main-container {
  display: flex;
}

.contact-main-container h1,
.contact-main-container h3 {
  text-wrap: wrap;
}

.contact-main-container h1 {
  font-size: clamp(30px, 5vw, 80px);
}

.contact-main-container h3 {
  font-size: clamp(18px, 2vw, 20px);
  line-height: 130%;
}

.contact-text-card,
.contact-links-card {
  width: 50%;
  padding: 2rem;
  margin: 3rem;
}

.contact-links-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3e3e3e;
  border-radius: 10px;
}

.email-btn {
  background-color: white;
  border-radius: 15px;
  padding: 0.75rem;
  width: clamp(100px, 110px, 50%);
  margin: 1rem;
  color: black;
  transition: all ease-in-out 0.2s;
}

.email-btn:hover {
  color: white;
  background-color: #242424;
}

.contact-title {
  background: linear-gradient(
    to right,
    #fda984,
    rgba(255, 255, 255, 0.489),
    #fda984
  );
  background-clip: text;
  color: transparent;
  padding: 2rem;
  margin: 0;
}

@media screen and (max-width: 775px) {
  .contact-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
