.home-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
}

.banner-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: center;
  margin: 2rem;
  align-items: center;
}

.btn-banner {
  border-radius: 15px;
  padding: 0.75rem;
  width: clamp(100px, 110px, 50%);
  margin: 1rem;
  color: black;
  transition: all ease-in-out 0.2s;
  background-color: white;
}

.btn-banner:hover {
  color: white;
  background-color: #242424;
}

.landing-banner {
  display: flex;
  width: 100%;
  height: 90vh;
  position: relative; /* Position relative for the child elements */
  box-shadow: 0 0 10px 5px rgba(205, 255, 161, 0.218); /* Adjust values to control blur */
  margin: 5rem 0px;
  align-items: center;
  justify-content: center;
}

.landing-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/faena-hotel/Saxony-Bar-RS2-1920x1470.jpg);
  background-size: cover; /* Ensure the image covers the div */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  z-index: -1;
}

.text-banner {
  color: white;
  font-size: clamp(1rem, 8vw, 4rem);
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin: 0 3rem;
  background-color: rgba(40, 40, 40, 0.693);
  padding: 1rem;
  border-radius: 10px;
  text-wrap: nowrap;
}

.work-text {
  letter-spacing: 0.2rem;
  align-self: center;
}

.partner-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem 0;
  background-color: #313131;
  padding: 4rem 0;
}

.slider {
  display: flex;
  background-color: #ffc5ac;
  white-space: nowrap;
}

.partner-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  animation: slide 32s linear infinite;
}

.slider:hover .partner-container {
  animation-play-state: paused;
}

.logo {
  max-height: 120px;
  margin: 0 6rem;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
